body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  color: #e0e0e0;
}

h1, h2, h3, p {
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff, 0 0 20px #0088ff;
}

section {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  backdrop-filter: blur(10px);
}

a:hover {
  color: #ff00ff;
  text-shadow: 0 0 8px #ff00ff;
}

.gallery1, .gallery2, .gallery3{
  display: flex;
  justify-content: center;
}

.gallery1 img {
  max-width: 400px;
  height: auto;
  display: block;
  margin: 20px auto;
}

.gallery2 img, .gallery3 img {
  max-width: 650px;
  height: auto;
  display: block;
  margin: 20px auto;
}

footer {
  text-align: center; 
  padding: 20px; 
  font-size: 14px; 
  font-family: sans-serif;
  color: #111;
}
