body {
  background: linear-gradient(to right, #0C04B3, #120A8F, #070495);
  color: #FAFA33;
  font-family: sans-serif;
  text-align: center;
}

.gallery {
  display: flex;
  gap: 20px;
}

footer {
  text-align: center; 
  padding: 20px; 
  font-size: 14px; 
  font-family: sans-serif;
  color: #555;
}
